/* --- Code blocks --- */

.chroma .ln { 
  margin-right: 0.8em; 
  padding: 0 0.4em 0 0.4em; 
}
pre code.hljs {
  padding: 9.5px;
}

pre code {
  overflow-wrap: normal;
  white-space: pre;
}

@media only screen and (min-width: 767px) {
  pre code {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
  }
}