/* --- Code blocks --- */

.chroma .ln { 
  margin-right: 0.8em; 
  padding: 0 0.4em 0 0.4em; 
}
pre code.hljs {
  padding: 9.5px;
}

@media only screen and (min-width: 768px) {
  pre code {
    white-space: pre;
  }
}