{{ range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) }}
  {{ if eq .reply_to $.parentId }}
    <div class="post-comment-header">
      <img class="post-comment-avatar-reply" src="https://www.gravatar.com/avatar/{{ .email }}?s=70">
      <p class="post-comment-info"><strong>{{ .name }}</strong><br><i><small>In reply to {{ $.parentName }}</i><br>{{ dateFormat "Monday, Jan 2, 2006" .date }}</small></p>
    </div>
    <div class="post-comment-reply">
      {{ .body | markdownify }}
    </div>
    <div class="post-comment-reply-button-reply">
      <a id="{{ ._id }}" class="btn-info" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">Continue Conversation</a>
    </div>
  {{ end }}
{{ end }}
