<section class="post-comments">
  <h3>Comments</h3>

  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $temp := (replace .URL "/" "") | replaceRE `^([1-2][0-9])\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])` "" }}
  {{ $temp2 := .File.BaseFileName }}
  {{ if eq .File.BaseFileName "index" }}
    {{ $.Scratch.Add "entryId" $temp }}
  {{ else }}
    {{ $.Scratch.Add "entryId" $temp2 }}
  {{ end }}

  {{ range $index, $comments := (index $.Site.Data.comments ($.Scratch.Get "entryId") ) }}
    {{ $.Scratch.Add "hasComments" 1 }}
    {{ if not .reply_to }}
      <div class="post-comment-header">
        <img class="post-comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=70">
        <p class="post-comment-info"><strong>{{ .name }}</strong><br><small>{{ dateFormat "Monday, Jan 2, 2006" .date }}</small></p>
      </div>
      <div class="post-comment">
        {{ .body | markdownify }}
      </div>
      <div class="post-comment-reply-button">
        <a id="{{ ._id }}" class="btn-info" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">Reply to {{ .name }}</a>
      </div>
      {{ partial "comment-replies" (dict "entryId_parent" ($.Scratch.Get "entryId") "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name "context" .) }}
      <br class="clearBoth" />
    {{ end }}
  {{ end }}       


  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>Nothing yet.</p>
  {{ end }}

  {{ partial "comment_form" . }}

</section>